// Header Section
// --------------------------------------------------
.headband {
  background: $headband-bg;
  height: $headband-height;
  +tablet-mobile() {
    display: none;
  }
}

.site-brand-container {
  margin-top:60px;// 左侧菜单距离顶部的距离
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;
  border-radius: 18.8px 18.8px 0 0; // 上边圆角 下边尖角 不设置20px 20px 0 0的原因是因为下面的sidebar的class="header"有一点白色溢出 所以把圆角设置小点对其进行覆盖
}

.use-motion {
  .column, .site-brand-container .toggle {
    opacity: 0;
  }
}

@import 'site-meta';
@import 'site-nav';
@import 'menu';

@import 'bookmark';
@import 'github-banner';
